<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
    <%- include ("partials/movieVars.ejs") %>
    <link rel="stylesheet" href="/css/movieView.css">
    <title><%= title %> info</title>
</head>
<body>
    <%- include ("partials/navbar.ejs") %>

    <main>
        <div class="main-info">
            <img class="poster" src="<%= img %>">
            <div class="total-info">
                <div class="side-info">
                    <h1 class="title"><%= title %></h1>

                    <div class="little-info">
                        <span><%= year %></span>
                        <span><%= rated %></span>
                        <span><%= runtime %></span>
                        <span><%= genre %></span>
                    </div>

                    <div class="summary-container">
                        <p class="summary">
                            <%= summary %>
                        </p>
                    </div>

                    <div class="people-container">
                        <span>Cast: </span>
                        <span><%= cast %></span>

                        <br>

                        <span>Director(s): </span>
                        <span><%= director %></span>

                        <br>

                        <span>Writer(s): </span>
                        <span><%= writers %></span>
                        
                        <br>
                        <br>

                        <span>Language(s): </span>
                        <span><%= languages %></span>

                        <br>

                        <span>Country(s): </span>
                        <span><%= country %></span>

                    </div>
                </div>
            </div>
        </div>

        <div class="award-info">
            <h1 class="award-title">Awards and Ratings</h1>

            <p><i>"<%= title %>"</i> <span><%= awards %></span></p>

            <p>IMDb: <span><%= imdbrating %></span>/10</p>
            <p>Rotten Tomatoes: <span><%= rt %></span></p>
            <p>Metacritic: <span><%= meta %></span>/100</p>

            <br>

            <p>Box Office: <span><%= boxoffice %></span></p>
        </div>
    </main>

    <footer>
        <!-- Empty -->
    </footer>
</body>
</html>